:root{
    font-family: Pangolin, Arial, Helvetica, sans-serif;
    color: #28282b;
    font-size: calc(1em + 0.1vw);
}

.centered-text{
    text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 30vw;
}

button{
    color: #28282b;
    background-color: #dedede;
    border-radius: 3px;
    border-style: solid;
    border-color: #28282b;
    font-size: 1rem;
    font-family: Pangolin, Arial, Helvetica, sans-serif;
    padding: 0.5vh 0;
}

button:active{
    background-color: #a1a1a1;
}

input{
    border-radius: 3px;
    border-style: solid;
    border-color: #28282b;
    font-size: 1rem;
    font-family: Pangolin, Arial, Helvetica, sans-serif;
}

#generate-bento-link{
    margin-top: 4vh;
}

.link{
    display: flex;
    flex-direction: column;
}

#links{
    margin: 3vh 0;
}

#links > * {
    margin-top: 1vh;
}

#links > * > * {
    margin-top: 1vh;
}

#generated-link{
    overflow-wrap: break-word;
}

#copy-button{
    margin-bottom: 8vh;
}

#message{
    margin: 2vh 0;
}


@media only screen and (max-width: 800px){
    .column{
        margin: 0 10vw;
    }
}