:root{
    font-family: Pangolin, Arial, Helvetica, sans-serif;
    color: #28282b;
    font-size: calc(1em + 0.1vw);
}

.centered-text{
    text-align: center;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    margin: 0 30vw;
}

@media only screen and (max-width: 800px){
    .column{
        margin: 0 10vw;
    }
}